{% extends "auth/base.html" %}

{% block title %}Login{% endblock title %}

{% block header %}
{% endblock header %}

{% block body %}
<form action="" method="post">

    {% if errors %}
    error: {{errors.message}} <br />
    {% endif %}
    
    username:
    {% if errors %}
    <input type="text" name="username" id="username" value="{{data.username}}">
    {% else %}
    <input type="text" name="username" id="username">
    {% endif %}

    password: <input type="password" name="password" id="password">
    <button type="submit">LOGIN</button>
</form>
{% endblock body %}