{% extends "admin/base.html" %}

{% block title %}
<title>Create User</title>
{% endblock title %}

{% block body %}
<h1>Create User</h1>
<form action="" method="post">
    isAdmin: <input type="checkbox" name="isAdmin" id="isAdmin" value="ADMIN">
    <br />

    {% if data.username %}
    username: <input type="text" name="username" id="usernameInput" value="{{data.username}}">
    {% else %}
    username: <input type="text" name="username" id="usernameInput">
    {% endif %}

    <br />
    password: <input type="password" name="password" id="passwordInput">
    <br />
    confirm password: <input type="password" name="confirmPassword" id="confirmInput">
    <br />
    <button type="submit">Submit</button>
</form>
<pre>
    {{errors|dump}}
</pre>
{% endblock body %}