{% extends "admin/dashboard/dashboard.html" %}

{% block title %}User{% endblock title %}

{% block content %}
<h2>User List</h2>

<a href="/admin/user/createuser">create new user</a>

<table>
    <thead>
        <tr>
            <th>#ID</th>
            <th>USERNAME</th>
            <th>ROLE</th>
            <th>ACTION</th>
        </tr>
    </thead>
    <tbody>

        {% for user in userList %}
        <tr>
            <td>{{ user.id }}</td>
            <td>{{ user.username }}</td>
            <td>
                {% if user.isAdmin %}
                <form action="/admin/user/{{user.id}}/edit" method="get"
                    onsubmit="return confirm('คุณต้องการเปลี่ยน Role เป็น USER ใช่ไหม?')"
                >
                    <input type="hidden" name="isAdmin" value="false">
                    <input type="submit" value="ADMIN">
                </form>
                {% else %}
                <form action="/admin/user/{{user.id}}/edit" method="get"
                    onsubmit="return confirm('คุณต้องการเปลี่ยน Role เป็น ADMIN ใช่ไหม?')"
                >
                    <input type="hidden" name="isAdmin" value="true">
                    <input type="submit" value="USER">
                </form>
                {% endif %}
            </td>
            <td>
                <form action="/admin/user/{{user.id}}/delete" method="post"
                    onsubmit="return confirm('คุณแน่ใจใช่ไหมว่าจะลบผู้ใช้ ({{user.username}})')">
                    <input type="submit" value="delete">
                </form>
            </td>
        </tr>
        {% endfor %}

    </tbody>
</table>

{% endblock content %}