{% extends "admin/dashboard/dashboard.html" %}

{% block title %}User{% endblock title %}

{% block content %}
<h2>User List</h2>

<a href="/admin/user/createuser">create new user</a>

<table>
    <thead>
        <tr>
            <th>#ID</th>
            <th>USERNAME</th>
            <th>ROLE</th>
            <th>ACTION</th>
        </tr>
    </thead>
    <tbody>

        {% for user in userList %}
        <tr>
            <td>{{ user.id }}</td>
            <td>{{ user.username }}</td>
            <td>{{ user.role }}</td>
            <td>
                <a href="#">edit</a>
                <form action="/admin/user/{{user.id}}/delete" method="post"
                    onsubmit="return confirm('คุณแน่ในใช่ไหมว่าจะลบผู้ใช้ ({{user.username}})')">
                    <input type="submit" value="delete">
                </form>
            </td>
        </tr>
        {% endfor %}

    </tbody>
</table>

{% endblock content %}