<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block title %}{% endblock title %} | My Site</title>

    <link rel="stylesheet" href="/static/css/mystyle.css">
</head>
<body>

    {% block header %}
    <nav>
        Welcome, {{ user.username }}
        <a href="/auth/logout">logout</a>
    </nav>
    {% endblock header %}

    {% block body %}
    {% endblock body %}
    
    <script src="/static/js/myjavascript.js"></script>
</body>
</html>